#app{
    background-color: #171717;
}
.dark{
    background-color: #2e2e2e;
}
#chatRow{
    height: 400px !important;
    overflow-y: auto;
}
#chatContainer{
    height: 100%;
}
textarea{
    resize: none !important;
}
.notification{
    z-index: 1000;
    position: absolute !important;
    width: 20% !important;
    bottom: 50px;
    right: 0;
}
#emojiList{
    overflow-y: auto;
}