<template>
<v-container>
    <v-layout row justify-center>
        <h1 class="error--text">ВНИМАНИЕ! Данное приложение НЕ для коммерческого использования. Крайне не рекомендуется
            использовать действующие пароли, и пересылать или сохранять важные данные (все данные могут быть удалены в ЛЮБОЙ момент)
        </h1>
    </v-layout>
    <v-layout row justify-center>
        <v-flex xs12 md6>
    <v-tabs dark :grow="true">
     <v-tab href="#login">Вход</v-tab>
     <v-tab href="#registration">Регистрация</v-tab>
     <v-tab-item value="login">
         <Login/>
     </v-tab-item>
     <v-tab-item  value="registration">
         <Registration/>
     </v-tab-item>
  </v-tabs>
        </v-flex>
    </v-layout>
</v-container>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Registration from '@/components/Registration';
import Login from '@/components/Login';

@Component({
    components: {
        Login,
        Registration,
    },
})
export default class Access extends Vue {

}
</script>