<template>
    <v-container id="chatContainer">
        <v-layout row justify-center mt-12 id="chatRow">
            <v-flex xs10 md10 v-if="isLoading">
                <v-progress-circular
                     indeterminate
                     color="primary"
                 ></v-progress-circular>
            </v-flex>
            <v-flex xs10 md10 v-else-if="messages.length>0">
                <v-layout  v-for="(message,index) in messages" :key="index" row justify-space-around mt-1>
                   <v-flex xs6 md6>
                        <v-card dark v-if="message.senderId==foreignUser.id" v-bind:id="'message-'+index">
                            <v-card-title color="primary">
                               {{message.sender.name}}:
                            </v-card-title>
                            <v-card-text>
                                {{message.body}}
                            </v-card-text>
                            <v-card-subtitle>
                                {{message.createdAtString}}
                            </v-card-subtitle>
                        </v-card>
                    </v-flex>
                    <v-flex xs6 md6>
                        <v-card dark v-if="message.senderId!=foreignUser.id" v-bind:id="'message-'+index">
                            <v-card-title color="primary">
                                {{message.sender.name}}:
                            </v-card-title>
                            <v-card-text>
                                {{message.body}}
                            </v-card-text>
                            <v-card-subtitle>
                                {{message.createdAtString}}
                            </v-card-subtitle>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex v-else xs10 md10>
                <h4 class="primary--text">Нет сообщений в чате. Напишите первым!</h4>
            </v-flex>
            
        </v-layout>
        <v-layout row justify-center mt-2>
            <v-flex xs7 md7>
                <v-textarea label="Сообщение" v-model="text" solo :error="textErrors.length>0" :error-messages="textErrors"></v-textarea>
            </v-flex>
            <v-flex xs4 md4>
            <v-layout row justify-center>
    <v-menu top >
      <template v-slot:activator="{ on }">
        <v-btn text color="primary" v-on="on">Emoji</v-btn>
      </template>
      <v-list max-height="400" id="emojiList">
        <v-list-item v-for="(emojiList,key) in emojis" :key="key">
            <v-btn v-for="(emoji,index) in emojiList" :key="index" text @click="()=>typeEmoji(emoji.Char)">{{emoji.Char}}</v-btn>
        </v-list-item>
      </v-list>
    </v-menu>
            </v-layout>
            <v-layout row justify-center>
                <v-btn text color="primary" @click="send">Отправить</v-btn>
            </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import HttpClient from '@/services/http/HttpClient';
import User from '@/models/User';
import { AxiosResponse } from 'axios';
import HubClient from '../services/hubs/HubClient';
import Message from '../models/hubs/Message';
import SecurityProvder from '../services/security/SecurityProvider';
import DateTimeHelper from '../services/helpers/DateTimeHelper';
import Emoji from '../models/emojies/Emoji';

@Component
export default class Chat extends Vue 
{
    private foreignUser:User=new User;

    private text:string='';

    private isLoading:boolean=false;

    private textErrors:string[]=new Array<string>();

    private messages:Message[]=new Array<Message>();

    private emojis:Emoji[][]=new Array<Emoji[]>();

    public async mounted()
    {
        HubClient.onNewMessage.push(this.addMessage);
        await this.fetchUser();
        await this.fetchMessages();
        this.scrollMessagesToEnd();
        await this.fetchEmojis();
    }

    private typeEmoji(emoji:string)
    {
        if(emoji=='undefined'){
            return;
        }
        this.text+=emoji;
    }

    private async fetchUser()
    {
        let response:AxiosResponse = await HttpClient.Get('users/'+this.$route.params.id)
        this.foreignUser=response.data;
    }

    private async fetchEmojis()
    {
        let emojis:Emoji[] = await HttpClient.GetDictionary<Emoji[]>("emojies.json");
        let chunkLength=5;
        let currentChunkLength=0;
        emojis.forEach((x:Emoji)=>{
            let currentPosition = this.emojis.length-1;
            if(currentPosition==-1)
            {
                this.emojis.push(new Array<Emoji>());
                currentPosition=0;
            }
           if(currentChunkLength <= chunkLength){
                this.emojis[currentPosition].push(x);
                currentChunkLength++;
           }else{
               currentChunkLength=0;
               this.emojis.push(new Array<Emoji>());
           }
        })
    }

    private async fetchMessages()
    {
        this.isLoading=true;
        let response:AxiosResponse = await HttpClient.Get('messages/'+this.$route.params.id)
        response.data.forEach((x:Message)=>{
            x.createdAtString = DateTimeHelper.GetValidServerDateTimeFromString(x.createdAt.toString());
            this.messages.push(x);
        });
        this.isLoading=false;
    }

    private async send()
    {
        if(!this.isValid()){
            return;
        }
        let message:Message=new Message();
        message.body=this.text;
        message.createdAt=new Date();
        message.createdAtString = DateTimeHelper.GetValidServerDateTimeFromDate(message.createdAt);
        message.receiverId=this.foreignUser.id;
        message.receiver=this.foreignUser;
        message.sender=SecurityProvder.getCurrentUser();
        message.senderId=message.sender.id;
        this.text='';
        await HubClient.send(message);
        this.addMessage(message);
    }

    private addMessage(message:any):void
    {
        this.messages.push(message);
        this.scrollMessagesToEnd();
    }

    private scrollMessagesToEnd()
    {
        setTimeout(()=>{
        let element:Element|null = document.getElementById('message-'+(this.messages.length-1));
        if(element!==null){
            element.scrollIntoView();
        }
        },200);
    }

    private isValid():boolean
    {
        if(this.text.trim().length===0){
            this.textErrors[0]='Введите сообщение';
            return false;
        }
            this.textErrors=new Array<string>();
            return true;
        
    }
    
}
</script>
