<template>
    <v-container fluid>
        <v-layout row justify-center mt-12>
            <h2 class="primary--text">Сохраненые чаты</h2>
        </v-layout>
         <v-layout row justify-center mt-12>
          <users-table :users="users" :is-loading="isLoading"/>
        </v-layout>
    </v-container>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import HttpClient from '@/services/http/HttpClient';
import User from '@/models/User';
import { AxiosResponse } from 'axios';
import HubClient from '../services/hubs/HubClient';
import Message from '../models/hubs/Message';
import SecurityProvder from '@/services/security/SecurityProvider';
import UsersTable from '../components/UsersTable.vue';

@Component({
    components:{
        usersTable:UsersTable
    }
})
export default class Chats extends Vue 
{

      private users: User[] = new Array<User>();


    private isLoading: boolean = false;

    public async mounted() {
        this.isLoading = true;
        const response: AxiosResponse = await HttpClient.Get('chat');
        const users = response.data;
        users.forEach((user: User) => {
            user.createdAtString=new Date(user.createdAt).toLocaleString('ru-RU');
            this.users.push(user);
        });
        this.isLoading = false;
    }

    
}
</script>