<template>
    <v-container class="dark">
         <v-layout row justify-center mt-12>
            <h2 class="primary--text">Авторизация</h2>
        </v-layout>
        
         <v-layout row justify-center>
            <small v-if="authError" class="error--text">Не верные данные</small>
        </v-layout>
       <v-layout row justify-center mt-12>
            <v-flex xs10 md6>
                <v-text-field label="Логин" v-model="login" :error-messages="loginErrors" :error="loginErrors.length>0"  solo/>
            </v-flex>
        </v-layout>
        <v-layout row justify-center mt-12>
            <v-flex xs10 md6>
                <v-text-field label="Пароль" type="password"  v-model="password" :error-messages="passwordErrors" :error="passwordErrors.length>0"  solo/>
            </v-flex>
        </v-layout>
        <v-layout row justify-center mt-12 mb-12>
            <v-btn color="primary" @click="sendRequest" text>Войти</v-btn>
        </v-layout>
    </v-container>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HttpClient from '@/services/http/HttpClient';
import { AxiosResponse } from 'axios';
import Http from '@/services/http/HttpClient';
import SecurityProvider from '@/services/security/SecurityProvider';

@Component
export default class Login extends Vue {

    public authError:boolean=false;

    public set login(v: string) {
        this._login = v;
        if (this._login.trim().length === 0) {
            this.loginErrors.push('Введите логин');
        } else {
            this.loginErrors = new Array<string>();
        }

    }

    public get login(): string {
        return this._login === null ? '' : this._login;
    }

     public set password(v: string) {
        this._password = v;
        if (this._password.trim().length === 0) {
            this.passwordErrors.push('Введите пароль');
        } else {
            this.passwordErrors = new Array<string>();
        }

    }


    public get password(): string {
        return this._password === null ? '' : this._password;
    }
      private _login: string|null = null;

      private _password: string|null = null;

      private loginErrors: string[] = new Array<string>();

      private passwordErrors: string[] = new Array<string>();

    public async sendRequest() {
        if (!this.isAllValid()) {
            return;
        }
        const response: AxiosResponse = await HttpClient.Post('access', {login: this._login, password: this._password});
        if (response!==undefined && response.status === 200) {
            this.authError=false;
            SecurityProvider.setJwt(response.data.token);
            this.$router.push('/');
        }else{
            this.authError=true;
        }
    }

     private isAllValid(): boolean {
        if (this._login === undefined) {
            this.login = '';
        }

        if (this._password === undefined) {
            this.password = '';
        }
        return this.loginErrors.length
        + this.passwordErrors.length === 0;
    }
}
</script>