<template>
      <div>
    <v-app-bar dark>
      <v-toolbar-title>InclusСommunications</v-toolbar-title>
      <v-btn text color="primary" @click="()=>{this.$router.push('/users')}">
          <v-icon>people</v-icon>
      </v-btn>
      <v-btn text color="primary" @click="()=>{this.$router.push('/chats')}">
          <v-icon>textsms</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-menu offset-y max-width="100">
      <template v-slot:activator="{ on }">
        <v-btn
          color="primary"
          text dark
          v-on="on"
        >
           {{currentUserEmail}}
        </v-btn>
      </template>
      <v-list dark>
        <v-list-item>
            <v-btn text color="primary">
                <v-icon dark>person</v-icon>
            </v-btn>
        </v-list-item>
        <v-list-item>
            <v-btn text color="primary" @click="logout">
                <v-icon dark>exit_to_app</v-icon>
            </v-btn>
        </v-list-item>
      </v-list>
    </v-menu>
    </v-app-bar>
    </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import SecurityProvider from '@/services/security/SecurityProvider';

@Component
export default class Navbar extends Vue {
    constructor() {
        super();
    }


    public get currentUserEmail(): string {
        return SecurityProvider.getCurrentUser().email;
    }

    public logout(): void {
        SecurityProvider.forgetJwt();
        this.$router.push('access');
    }

}
</script>