<template>
    <v-container class="dark">
        <v-layout row justify-center mt-6>
            <h2 class="primary--text">Регистрация</h2>
        </v-layout>
        <v-layout row justify-center>
            <small  class="primary--text">{{status}}</small>
        </v-layout>
         <v-layout row justify-center mt-5>
            <v-flex xs10 md6>
                <v-text-field label="Имя" v-model="name" :error-messages="nameErrors" :error="nameErrors.length>0" solo/>
            </v-flex>
        </v-layout>
        <v-layout row justify-center>
            <v-flex xs10 md6>
                <v-text-field label="Почта" v-model="email" :error-messages="emailErrors" :error="emailErrors.length>0"  solo/>
            </v-flex>
        </v-layout>
        <v-layout row justify-center>
            <v-flex xs10 md6>
                <v-text-field label="Логин" v-model="login" :error-messages="loginErrors" :error="loginErrors.length>0"  solo/>
            </v-flex>
        </v-layout>
        <v-layout row justify-center>
            <v-flex xs10 md6>
                <v-text-field label="Пароль"  v-model="password" type="password" :error-messages="passwordErrors" :error="passwordErrors.length>0"  solo/>
            </v-flex>
        </v-layout>
        <v-layout row justify-center mt-5 mb-5>
            <v-btn color="primary" @click="registrate" text>Зарегистрироваться</v-btn>
        </v-layout>
    </v-container>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HttpClient from '@/services/http/HttpClient';

@Component
export default class Registration extends Vue {


    public set name(v: string) {
        this._name = v;
        if (this._name.trim().length === 0) {
            this.nameErrors.push('Введите имя (ФИО)');
        } else if (this._name.length > 100) {
            this.nameErrors.push('Максимально допустимая длина - 100 символов');
        } else {
            this.nameErrors = new Array<string>();
        }

    }


    public get name(): string {
        return this._name === undefined ? '' : this._name;
    }

     public set login(v: string) {
        this._login = v;
        if (this._login.trim().length === 0) {
            this.loginErrors.push('Введите логин');
        } else if (this._login.length > 100) {
            this.loginErrors.push('Максимально допустимая длина - 100 символов');
        } else {
            this.loginErrors = new Array<string>();
        }

    }


    public get login(): string {
        return this._login === undefined ? '' : this._login;
    }

     public set password(v: string) {
        this._password = v;
        if (this._password.trim().length === 0) {
            this.passwordErrors.push('Введите пароль');
        } else if (this._password.length > 100) {
            this.passwordErrors.push('Максимально допустимая длина - 100 символов');
        } else if (this._password.length < 6) {
            this.passwordErrors.push('Минимально допустимая длина - 6 символов');
        } else {
            this.passwordErrors = new Array<string>();
        }

    }


    public get password(): string {
        return this._password === undefined ? '' : this._password;
    }

     public set email(v: string) {
        this._email = v;
        const regExp = new RegExp(/(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/);
        if (this._email.trim().length === 0) {
            this.emailErrors.push('Введите адрес электронной почты');
        } else if (this._email.length > 100) {
            this.emailErrors.push('Максимально допустимая длина - 100 символов');
        } else if (!regExp.test(this._email)) {
            this.emailErrors[0] = 'Введите существующий Email адрес';
        } else {
            this.emailErrors = new Array<string>();
        }

    }

    public get email(): string {
        return this._email === undefined ? '' : this._email;
    }
    private status: string = '';

    private _login: string|undefined = undefined;

    private _email: string|undefined = undefined;

    private _password: string|undefined = undefined;

    private _name: string|undefined = undefined;

    private nameErrors: string[] = new Array<string>();

    private loginErrors: string[] = new Array<string>();

    private passwordErrors: string[] = new Array<string>();

    private emailErrors: string[] = new Array<string>();

    public async registrate() {
        if (!this.isAllValid()) {
            return;
        }
        const response = await HttpClient.Post('access/registrate', {
            login: this._login,
            email: this._email,
            password: this._password,
            name: this._name,
        });
        if (response.status === 200) {
            this.status = 'Регистраця успешна!';
        }
    }

    private isAllValid(): boolean {
        if (this._login === undefined) {
            this.login = '';
        }
        if (this._email === undefined) {
            this.email = '';
        }
        if (this._password === undefined) {
            this.password = '';
        }
        if (this._name === undefined) {
            this.name = '';
        }
        return this.emailErrors.length
        + this.loginErrors.length
        + this.passwordErrors.length
        + this.nameErrors.length === 0;
    }

}
</script>