<template>
        <v-card dark>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Фильр"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
        <v-data-table
            dark
            :headers="headers"
            loading-text="Загрузка пользователей..."
            :loading="isLoading"
            no-data-text="Пользователей не найдено"
            no-results-text="Пользователей не найдено"
            :items="users"
            :search="search"
            class="elevation-1"
            :footer-props="{
                showFirstLastPage: true,
                itemsPerPageAllText:'Все',
                itemsPerPageText:'Показывать страниц'
             }"
  >
  <template v-slot:item.action="{ item }">
      <v-btn fab text color="primary" v-bind:href="'/#/chat/'+item.id">
           <v-icon>textsms</v-icon>
      </v-btn>
      <v-btn fab text color="primary">
           <v-icon dark>person</v-icon>
      </v-btn>
  </template>
  </v-data-table>
        </v-card>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import HttpClient from '@/services/http/HttpClient';
import User from '@/models/User';
import { AxiosResponse } from 'axios';

@Component({
    props:['users','isLoading']
})
export default class UsersTable extends Vue {

    private headers: any = null;

    private search: string = '';

    private isLoading: boolean = false;

    public mounted():void
    {
        this.initTable();
    }
    private initTable(): void {
        this.headers = [
          {
            text: 'Имя (ФИО)',
            align: 'left',
            value: 'name',
          },
          { text: 'Email', value: 'email' },
          { text: 'Дата регистрации', value: 'createdAtString' },
          { text: 'Действия', value: 'action', sortable: false, filterable: false},
        ];
    }
}
</script>