<template>
  <v-app dark>
   <v-alert id="globalErrorNotice" style="position:fixed;z-index:1000;" :value="hasError" type="error">
      {{errorMessage}}
    </v-alert>
  <navbar v-if="!isAccessRoute"/>
    <v-content>
      <router-view/>
    </v-content>
    <v-list dark
   
      v-if="hasNotifications" class="notification"
    >
    <v-list-item-group  v-for="(notification,key) in notifications" :key="key" >
      <v-list-item @click="notification.onClick(key)">
         <v-list-item-content>
        <v-list-item-subtitle>{{notification.title}}</v-list-item-subtitle>
      
    <p>{{notification.text}}</p>
         </v-list-item-content>
      </v-list-item>
      <v-divider/>
    </v-list-item-group>
     
      
    </v-list>
        
    
    <v-footer color="#242424">
      <v-btn text color="primary">Cообщить об ошибке</v-btn>
    <v-spacer></v-spacer>
    <div class="primary--text">&copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Dictionary } from 'vuex';
import Navbar from './components/Navbar.vue';
import HubClient from './services/hubs/HubClient';
import NotificationHelper from './services/helpers/NotificationHelper';
import BasicNotification from './models/notifications/BasicNotification';
import Message from './models/hubs/Message';

@Component({
  components: {
    navbar: Navbar,
  },
})
export default class App extends Vue {
  public name: string = 'App';

  public hasError: Boolean = false;
  public errorMessage: String = '';

  public notifications:BasicNotification[]=new Array<BasicNotification>();

  public get isAccessRoute(): boolean {
    return this.$route.name ? this.$route.name == 'access' : false;
  }

  
  public get hasNotifications() : boolean {
    return this.notifications.length > 0;
  }
  
  public mounted() {
    NotificationHelper.subscribeError(this.notifyError);
    NotificationHelper.subscribeNewMessages(this.onNewMessage);
  }

  public onNewMessage(message:Message)
  {
      let currentRout = this.$route.path;
      if(currentRout=='/chat/'+message.senderId){
        return;
      }
    let notification =new BasicNotification();
    notification.text=message.body;
    notification.title=message.sender.name;
    notification.onClick=function(key:number)
    {
      let destination:string ='/chat/'+message.senderId;
      if(destination!==this.$route.path){
       this.$router.push('/chat/'+message.senderId);
      }
      this.notifications.splice(key,1);
    }.bind(this);
    this.notifications.push(notification);
    setTimeout(()=>this.notifications.splice(-1,1),5000);
  }

  private notifyError(message: string) {
    this.hasError = true;
    this.errorMessage = message;
    let alert:Element|null = document.getElementById('globalErrorNotice');
    if(alert!=null){
      alert.scrollIntoView();
    }
    setTimeout(() => {
      this.hasError = false;
      this.errorMessage = '';
    }, 5000);
  }
}
</script>
